#body1{
    background-color: #c890a7;
    text-align: center;
    
    p{
        background-color: #FBF5E5;
    }
}

#body2{
    background-color: #212121 ;
    text-align: center;
}

.parrafos-estilos{
    background-color: #A35C7A;
    text-justify: auto;
    font-family:Arial, Helvetica, sans-serif;
}

.lista-estilos{
    background-color: #c890a7;
}

#h5{
font-size: large;
}

#body3{
    background-color: #c890a7;
}